h1,h2,h3,h4,h5 { font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; word-wrap: break-word;}
html,body{font-family:'arial' , sans-serif; word-wrap: break-word;}
.mt-3 {margin-top: 30px;"}
.poem span[class^="indent-"],
.poetry span[class^="indent-"] {
  margin: 0;
}

.indent-1 {
  padding-left: 1rem;
}
.indent-2 {
  padding-left: 2rem;
}
.indent-3 {
  padding-left: 3rem;
}
.indent-4 {
  padding-left: 4rem;
}
.indent-5 {
  padding-left: 5rem;
}
.indent-6 {
  padding-left: 6rem;
}
.indent-7 {
  padding-left: 7rem;
}
.indent-8 {
  padding-left: 8rem;
}
.indent-9 {
  padding-left: 9rem;
}
.indent-10 {
  padding-left: 10rem;
}
.poem .byline,
.poetry .byline {
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: -0.5rem;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
.footnotes {
  line-height: 1.2rem;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
}
.footnotes .foot-block {
  display: inline-block;
  padding: 0 4rem 0 2rem;
  margin-bottom: 0.8rem;
  font-style: italic;
}
a.footnote {
  padding-left: 0.1rem;
  font-size: 0.66rem;
}
ol.bibliography {
  list-style-type: none;
  padding-left: 1rem;
  text-indent: -1rem;
}
ins,
.add {
  color: #288828;
  font-style: italic;
}
del,
.delete {
  text-decoration: line-through;
  color: #aa3232;
}
u,
.underline {
  text-decoration: underline;
}
li.centered {
  text-align: center;
}
li.speaker,
li.speakerGroup {
  text-align: center;
  padding-top: 1.2em;
}
li.speakerGroup {
  margin-bottom: -1.6em;
}
li.attribution {
  text-align: right;
  list-style: none;
  padding: 0rem 1.5rem 0rem 2rem;
  margin: 0 0 20px 0;
  color: #454545;
}
li.prose {
  list-style-position: inside;
  margin-left: -1em;
  text-indent: 0;
}
li.prose-indent {
  text-indent: 2rem;
}

.highlight .hll {
  background-color: #ffc;
}
.highlight .c {
  color: #999;
}
.highlight .err {
  color: #a00;
  background-color: #faa;
}
.highlight .k {
  color: #069;
}
.highlight .o {
  color: #555;
}
.highlight .cm {
  color: #09f;
  font-style: italic;
}
.highlight .cp {
  color: #099;
}
.highlight .c1 {
  color: #999;
}
.highlight .cs {
  color: #999;
}
.highlight .gd {
  background-color: #fcc;
  border: 1px solid #c00;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: red;
}
.highlight .gh {
  color: #030;
}
.highlight .gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}
.highlight .go {
  color: #aaa;
}
.highlight .gp {
  color: #009;
}
.highlight .gu {
  color: #030;
}
.highlight .gt {
  color: #9c6;
}
.highlight .kc {
  color: #069;
}
.highlight .kd {
  color: #069;
}
.highlight .kn {
  color: #069;
}
.highlight .kp {
  color: #069;
}
.highlight .kr {
  color: #069;
}
.highlight .kt {
  color: #078;
}
.highlight .m {
  color: #f60;
}
.highlight .s {
  color: #d44950;
}
.highlight .na {
  color: #4f9fcf;
}
.highlight .nb {
  color: #366;
}
.highlight .nc {
  color: #0a8;
}
.highlight .no {
  color: #360;
}
.highlight .nd {
  color: #99f;
}
.highlight .ni {
  color: #999;
}
.highlight .ne {
  color: #c00;
}
.highlight .nf {
  color: #c0f;
}
.highlight .nl {
  color: #99f;
}
.highlight .nn {
  color: #0cf;
}
.highlight .nt {
  color: #2f6f9f;
}
.highlight .nv {
  color: #033;
}
.highlight .ow {
  color: #000;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #f60;
}
.highlight .mh {
  color: #f60;
}
.highlight .mi {
  color: #f60;
}
.highlight .mo {
  color: #f60;
}
.highlight .sb {
  color: #c30;
}
.highlight .sc {
  color: #c30;
}
.highlight .sd {
  color: #c30;
  font-style: italic;
}
.highlight .s2 {
  color: #c30;
}
.highlight .se {
  color: #c30;
}
.highlight .sh {
  color: #c30;
}
.highlight .si {
  color: #a00;
}
.highlight .sx {
  color: #c30;
}
.highlight .sr {
  color: #3aa;
}
.highlight .s1 {
  color: #c30;
}
.highlight .ss {
  color: #fc3;
}
.highlight .bp {
  color: #366;
}
.highlight .vc {
  color: #033;
}
.highlight .vg {
  color: #033;
}
.highlight .vi {
  color: #033;
}
.highlight .il {
  color: #f60;
}
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 0.8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}
