<!doctype html>
<html lang="{{ metadata.language }}">
<head>
{% include "partials/seo.njk" %}
<link href="/css/styling.css" rel="stylesheet">
<link href="https://api.fontshare.com/v2/css?f[]=sentient@400,401,700,701&display=swap" rel="stylesheet">
<link rel="alternate" href="https://smoitzheim.online/feed.xml" type="application/atom+xml" title="Feed">
</head>
<body data-bs-spy="scroll" data-bs-target="#navScroll">
{% include "partials/nav.njk" %}
{{content|safe}}
{% include "partials/footer.njk" %}
</body>
</html>