<footer>
<div class="container text-center small py-vh-3">
{{metadata.footer.text1}} <a href="{{metadata.footer.text2_url}}" target="_blank">{{metadata.footer.text2}}</a> {{metadata.footer.text3}} <a href="{{metadata.footer.text4_url}}" target="_blank">{{metadata.footer.text4}}</a>
</div>
</footer>
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
