<div class="col-md-8 p-3">
<form action="{{metadata.formspree_id}}" method="POST">
  <label class="form-label mb-1 mt-1 col-12" for="name">
    Your Name:
    <input class="form-control p-3 p-3 col-12" style="border:none;border-bottom:1px solid black; " type="text" name="name">
  </label>
  <label class="form-label mb-1 mt-1 col-12" for="email">
    Your email:
    <input class="form-control p-3 col-12" type="email" style="border:none;border-bottom:1px solid black; " name="email">
  </label>
  <label class="form-label mb-1 mt-1 col-12" for="message">
    Your message:
    <textarea class="form-control form-control-xl mb-1 mt-1 col-12" style="border:none;border-bottom:1px solid black; " rows="5" name="message"></textarea>
  </label>
  <button class="btn btn-primary btn-xl shadow" type="submit">Send Message</button>
</form>
</div>
