<nav id="navScroll" class="navbar navbar-light py-vh-3 pb-0 px-vw-5" tabindex="0">
<div class="container-fluid">
<a class='navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center' href='/'>
<span class="ms-md-1 mt-1 fw-bolder me-md-5">{{metadata.nav_logo.title}}</span>
</a>
<ul class="navbar-nav mx-auto mb-2 mb-lg-0 list-group list-group-horizontal">
{% for n in metadata.navbar %}<li class="nav-item"><a aria-label='{{n.nav}}' class='nav-link fs-5' href='{{n.url}}'>{{n.nav}}</a></li>{% endfor %}
</ul>
<a href="{{metadata.nav_contact.url}}" aria-label="{{metadata.nav_contact.text}}" class="fs-6 link-fancy">{{metadata.nav_contact.text}}</a>
</div>
</nav>
